/* Estilos gerais do corpo */
body {
   font-family: 'Roboto', sans-serif;
   line-height: 1.6;
   color: white;
   margin: 0;
   padding: 0;
   background-color: black;
}

/* Nome na tela */
.meunome {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh; 
   background: black;  
   color: white;
   text-align: center;
   flex-direction: column;
}
@font-face {
   font-family: minhafonte;
   src: url("BrittanySignature.ttf");
}
.meunome h1 {
   font-size: 6rem; 
   font-family: minhafonte;
   margin: 0;
   padding: 23px;
   background: linear-gradient(135deg,#34db8d, #222121, #34db8d, #222121,#34db8d); 
   -webkit-background-clip: text; 
   -webkit-text-fill-color: transparent;
}
p b{
   background: linear-gradient(135deg,#34db8d, #333, #34db8d, #333,#34db8d);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
}
.meunome p {
   display: block;
   margin-top: 10px;
   border-radius: 5px;
   padding: 10px;
}


/* Estilo do cabeçalho */
header {
   background: linear-gradient(135deg, #34db8d,#333, #333);
    border-radius: 10px;
    border-bottom: 4px solid white;
    color: white;
    text-align: center;
    margin-top: 80px;
    padding: 20px;
    width: 70%; 
    position: relative;
}

.container {
  display: flex;
  margin-top: 50vh;
  margin-bottom: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50vh;
}

/* Estilo da imagem no cabeçalho */
.minha-imagem {
   display: flex;
   align-items: center; 
   justify-content: center;
}
.minha-imagem img {
   width: 100px; 
   height: auto; 
   margin-left: 60px;   
   transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.minha-imagem h1 {
   font-size: 2rem;
   transition: color 0.3s ease;
}

.minha-imagem img:hover {
   transform: scale(1.25);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   border: 3px solid white;
}

.minha-imagem h1:hover {
   color: black;
}




/* Estilo da navegação */
nav {
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #181717;
   box-shadow: 0 2px 2px 1px white;
   border-radius: 5px;
   z-index: 100;
}

nav ul {
   list-style-type: none;
   padding: 2px;
   display: flex;
   margin-right: 30px;
   justify-content: right;
   gap: 50px;
}

nav ul li a {
   color: #34db8d;
   text-decoration: none;
}

nav ul li a:hover {
  color: white;
  text-decoration: none;
}

/* Estilo das seções */
section {
  padding: 100px 20px;
  text-align: center;
}

section ul {
  list-style-position: inside;
  list-style-type: circle;
  padding-left: 0;
}

section ul.sobre {
 margin: 80px;
  text-align: justify; 
  list-style-position: inside;
  list-style-type: circle;
  padding-left: 0;
}

section li {
  margin-left: 0;
  padding-left: 0;
}

/* Estilo dos itens de contatos */
section#contact ul {
  text-align: center;
}

section li a:hover {
  color: rgb(0, 139, 74);
  text-decoration: underline;
}

/* Botão "Voltar ao Topo" */
.voltar-topo {
   display: inline-block;
   background-color: #34db8d;
   color: white;
   padding: 10px 20px;
   border-radius: 5px;
   text-decoration: none;
   bottom: 20px;
   right: 20px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.041);
   transition: background-color 0.3s ease, transform 0.3s ease;
}

.voltar-topo:hover {
   background-color: rgb(31, 48, 48);
   transform: scale(1.1);
}

/* Estilo do rodapé */
footer {
   background-color: #181717;
   border-top: 3px solid white;
   border-radius: 10px;
   color: white;
   padding: 20px 0;
   text-align: center;
}

/* Responsividade */
@media screen and (max-width: 768px) {
   header {
       width: 90%;
   }
   
   .minha-imagem img {
       margin-left: 0;
       width: 80px;
   }

   .voltar-topo {
       padding: 8px 16px;
   }
}
